:root {
    --primary-color: #000;
    --text: white;
    --background: #F4F5FC;
    --sidebar-gray-background: #DCE1EB;
    --red: #F55E5E;
    --item-hover: #F0F0F0;
}

* {
    font-family: Poppins;
}


.header-logo {
    height: 40px;
    padding: 15px;
}

img {
    border-radius: 10px;
    pointer-events: none;
}

.sidenav-heading {
    padding-left: 15px;
    padding-top: 15px;
    opacity: 0.3;
    font-size: 13px;
    letter-spacing: 1px;
}


.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-weight: 600;
    font-size: 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-wrapper:hover {
    opacity: 0.5;
    transition: 0.3s;
}

button {
    padding: 15px;
    min-width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    outline: 0px solid white;
    font-size: 15px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    border-radius: 8px;
    color: white;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

p {
    font-size: 15px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.067);
    cursor: pointer;
}


.button-active {
    outline: 1px solid rgba(255, 255, 255, 0.413);
    background-color: rgba(255, 255, 255, 0.067);
}

.portfolio-item iframe {
    width: 100%!important;
    height: 100%!important;
}

.filter-buttons {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

        
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            background-color: var(--primary-color);
            color: var(--text);
            box-sizing: border-box;
        }

        .header {
            color: #fff;
            position: fixed;
            display: flex;
            align-items: flex-start;
            padding: 15px;
            backdrop-filter: blur(35px);
            flex-direction: column;
            width: 200px;
            height: -webkit-fill-available;
            justify-content: space-between;
        }

        .date-rr {
            PADDING: 15px;
            opacity: 0.4;
            font-size: 13px;
        }

        .header-wrapper {
            display: flex;
            overflow-y: hidden;
            height: 100%;
        }


        .portfolio-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding: 15px;
            margin-left: 235px;
        }

        .portfolio-item {
            width: calc(50% - 10px);
        }


        footer {
            background-color: var(--primary-color);
            color: #fff;
            text-align: center;
            padding: 1rem;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        h3 {
            padding-bottom: 5px;
            font-weight: 400;
            margin: 0;
            font-size: 18px;
        }

        .contact-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .contact-wrapper a {
            display: flex;
            color: inherit;
            gap: 10px;
            font-size: 15px;
            padding: 15px;
            border-radius: 8px;
            flex-direction: row;
            align-items: center;
            min-width: 150px;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;
        }


        .contact-wrapper a:hover {
            background-color: rgba(255, 255, 255, 0.067);
            cursor: pointer;
            
        }

        .portfolio-item iframe,
.portfolio-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px) {

.filter-buttons {
    flex-direction: row;
    width: unset;
}

.date-rr {
    display: none;
}

    .filter-buttons p {
display: none;
}

button {
    min-width: unset;
    width: unset;
}

.header-wrapper {
    width: 100%;
    justify-content: center;
}
.header {
    position: unset;
    padding: 0px 20px;
    gap: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: unset;
    flex-direction: row;
}

.sidenav-heading {
    display: none;
}

.contact-wrapper {
    display: none;
}

.logo-wrapper h2 {
    display: none;
}
.portfolio-container {
    margin-left: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.portfolio-item {
    width: 100%;
}
button#text {
    display: none;
}
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-1-16 23:20:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  
}
